/* @import url("theme-switch.css"); */

:root {
    --light-bg: #fafafa;
    --light-font: #212529;
    --light-primary:  #2196f3;
    --dark-bg: #000;
    --dark-font: #fff;
    --dark-primary: #90caf9;
    --dark-link: #81d4fa;
}

img {
    min-height: 200px;
}

body {
    background-color: var(--light-bg);
    color: var(--light-font);
}

button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: var(--light-bg);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: var(--light-font);
    border: 1px solid transparent;
    border-color: var(--light-font);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button.outline-btn {
    color: var(--light-font);
    background-color: var(--light-bg);
    border-color: var(--light-font);
}

button.outline-btn:hover {
    color: var(--light-bg);
    background-color: var(--light-font);
}

a.btn > i {
    color: var(--light-font);
}

a.btn > i:hover {
    color: var(--light-primary);
}

@media(prefers-color-scheme:dark) {
    body {
        background-color: var(--dark-bg);
        color: var(--dark-font);
    }

    a {
        color: var(--dark-link);
    }

    a:hover {
        color: var(--dark-link);
    }

    button {
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        color: var(--dark-bg);
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: var(--dark-font);
        border: 1px solid transparent;
        border-color: var(--light-font);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    
    button.outline-btn {
        color: var(--dark-font);
        background-color: var(--dark-bg);
        border-color: var(--dark-font);
    }
    
    button.outline-btn:hover {
        color: var(--dark-bg);
        background-color: var(--dark-font);
    }

    .card {
        border: 1px solid #5a5a5a;
    }

    .card-body {
        background-color: #5a5a5a;
    }

    .text-muted {
        color: #bdbdbd !important;
      }

    a.btn > i {
        color: var(--dark-font);
    }

    a.btn > i:hover {
        color: var(--dark-primary);
    }
}