#theme-switch {
    -webkit-appearance: none;
    position: relative;
    width: 50px;
    height: 25px;
    background-color: rgb(244, 189, 33);
    border-radius: 50px;
    /* box-shadow: 0px 2px 5px 1px gray; */
    outline: none;
}

#theme-switch:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    background-color: navy;
    outline: none;
    transition: all .9s;    /* adds some slowness when circle moves right to left */
}

#theme-switch:checked:before {
    transform: translate(100%); /* makes it move left to right */
    transition: all .9s;
}